<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			KWP Data Collection
		</title>
	</head>
	<body>
		<div>
			<header>Log In</header>
			<p><form>
			  User Name:<br>
			  <input type="text" name="username"><br>
			  Password:<br>
			  <input type="Password" name="Password"><br>
			  <input type="submit" value="Submit">
			</form></p>
		</div>

		<footer>
			<p>
				&copy; 2017 Matt Stelmach
			</p>
			<p>
				Kaheawa Wind Power HCP
			</p>
		</footer>
	</body>
</html>
